<?xml version="1.0"?>
<config>
    <modules>
        <Copernica_MarketingSoftware>
            <version>2.0.1</version>
        </Copernica_MarketingSoftware>
    </modules>
    <global>
        <models>
            <marketingsoftware>
                <class>Copernica_MarketingSoftware_Model</class>
                <resourceModel>marketingsoftware_mysql4</resourceModel>
            </marketingsoftware>
            <marketingsoftware_mysql4>
                <class>Copernica_MarketingSoftware_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>copernica_queue</table>
                    </queue>
                    <marketingsoftware>
                        <table>copernica_marketingsoftware</table>
                    </marketingsoftware>
                </entities>
            </marketingsoftware_mysql4>
        </models>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>checkoutSaveStep</method>
                    </marketingsoftware_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_controller_multishipping_shipping_post>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>checkoutSaveStep</method>
                    </marketingsoftware_observer>
                </observers>
            </checkout_controller_multishipping_shipping_post>
            <sales_quote_item_delete_before>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>quoteItemRemoved</method>
                    </marketingsoftware_observer>
                </observers>
            </sales_quote_item_delete_before>
            <sales_quote_item_save_after>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>quoteItemModified</method>
                    </marketingsoftware_observer>
                </observers>
            </sales_quote_item_save_after>
            <sales_order_save_after>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>orderModified</method>
                    </marketingsoftware_observer>
                </observers>
            </sales_order_save_after>
            <newsletter_subscriber_delete_before>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>newsletterSubscriptionRemoved</method>
                    </marketingsoftware_observer>
                </observers>
            </newsletter_subscriber_delete_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>newsletterSubscriptionModified</method>
                    </marketingsoftware_observer>
                </observers>
            </newsletter_subscriber_save_after>
            <customer_delete_before>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>customerRemoved</method>
                    </marketingsoftware_observer>
                </observers>
            </customer_delete_before>
            <customer_save_after>
                <observers>
                    <marketingsoftware_observer>
                        <class>marketingsoftware/observer</class>
                        <method>customerModified</method>
                    </marketingsoftware_observer>
                </observers>
            </customer_save_after>
        </events>
            <resources>
                <marketingsoftware_setup>
                    <setup>
                        <module>Copernica_MarketingSoftware</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </marketingsoftware_setup>
                <marketingsoftware_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </marketingsoftware_write>
                <marketingsoftware_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </marketingsoftware_read>
            </resources>
            <blocks>
                <marketingsoftware>
                    <class>Copernica_MarketingSoftware_Block</class>
                </marketingsoftware>
            </blocks>
            <helpers>
                <marketingsoftware>
                    <class>Copernica_MarketingSoftware_Helper</class>
                </marketingsoftware>
            </helpers>
    </global>
    <frontend>
        <routers>
            <marketingsoftware>
                <use>standard</use>
                <args>
                    <module>Copernica_MarketingSoftware</module>
                    <frontName>copernica</frontName>
                </args>
            </marketingsoftware>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Copernica_MarketingSoftware after="Mage_Adminhtml">Copernica_MarketingSoftware_Adminhtml</Copernica_MarketingSoftware>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <marketingsoftware_process_queue>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>marketingsoftware/observer::processQueue</model></run>
            </marketingsoftware_process_queue>
        </jobs>
    </crontab>
</config>